.google-review.swiper-slide 
  .row.flex-column.flex-lg-row.justify-content-center.align-items-center.align-items-lg-stretch
    .col-auto.mb-3
      img(src=item.img, alt=item.name)
    .col.d-flex.flex-column
      .google-review-author.mb-2.mb-xl-0=item.name
      .google-review-text=item.text
      .row.align-items-center.justify-content-between.mt-1
        .col-auto
          .google-review-stars
            - for (i=1; i<=5; i++)
              if (item.curentRating >= i)
                .star.active 
                  +svgMono('star')
              else 
                .star 
                  +svgMono('star') 
        .col-auto
          .google-review-date=item.date