-
  var compare =[
    {
      img: '../img/prod/prod-img1.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      price: 3600,
      salePrice: 3500,
      screen: {
        diag: '15.6" (1920x1080) Full HD',
        type: 'IPS',
        freq: '144 Гц'
      },
      proc: {
        name: 'Четырехъядерный Intel Core i5-10300H (2.5 - 4.5 ГГц)',
        os: 'Без ОС',
        gen: '10-ое Comet Lake'
      },
      ram: {
        size: '8 ГБ',
        slot: '2',
        type: 'DDR4-2933 МГц'
      },
      connect: {
        lan: 'Wi-Fi 802.11ax <br> Bluetooth 5.1 <br> Gigabit Ethernet',
        inOut: '2 x USB 3.2 Gen1 Type-A / 1 x USB 3.2 Gen2 Type-C (DisplayPort) / 1 x USB 2.0 / HDMI 2.0b / LAN (RJ-45) / комбинированный аудиоразъем для наушников/микрофона',
        wifi: 'Bluetooth 5.1 <br> Wi-Fi 6'
      }
    },
    {
      img: '../img/prod/prod-img2.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      price: 3600,
      salePrice: 3500,
      screen: {
        diag: '15.6" (1920x1080) Full HD',
        type: 'IPS',
        freq: '144 Гц'
      },
      proc: {
        name: 'Четырехъядерный Intel Core i5-10300H (2.5 - 4.5 ГГц)',
        os: 'Без ОС',
        gen: '10-ое Comet Lake'
      },
      ram: {
        size: '8 ГБ',
        slot: '2',
        type: 'DDR4-2933 МГц'
      },
      connect: {
        lan: 'Wi-Fi 802.11ax <br> Bluetooth 5.1 <br> Gigabit Ethernet',
        inOut: '2 x USB 3.2 Gen1 Type-A / 1 x USB 3.2 Gen2 Type-C (DisplayPort) / 1 x USB 2.0 / HDMI 2.0b / LAN (RJ-45) / комбинированный аудиоразъем для наушников/микрофона',
        wifi: 'Bluetooth 5.1 <br> Wi-Fi 6'
      }
    },
    {
      img: '../img/prod/prod-img3.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      price: 3600,
      salePrice: 3500,
      screen: {
        diag: '15.6" (1920x1080) Full HD',
        type: 'IPS',
        freq: '144 Гц'
      },
      proc: {
        name: 'Четырехъядерный Intel Core i5-10300H (2.5 - 4.5 ГГц)',
        os: 'Без ОС',
        gen: '10-ое Comet Lake'
      },
      ram: {
        size: '8 ГБ',
        slot: '2',
        type: 'DDR4-2933 МГц'
      },
      connect: {
        lan: 'Wi-Fi 802.11ax <br> Bluetooth 5.1 <br> Gigabit Ethernet',
        inOut: '2 x USB 3.2 Gen1 Type-A / 1 x USB 3.2 Gen2 Type-C (DisplayPort) / 1 x USB 2.0 / HDMI 2.0b / LAN (RJ-45) / комбинированный аудиоразъем для наушников/микрофона',
        wifi: 'Bluetooth 5.1 <br> Wi-Fi 6'
      }
    },
    {
      img: '../img/prod/prod-img4.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      price: 3600,
      salePrice: 3500,
      screen: {
        diag: '15.6" (1920x1080) Full HD',
        type: 'IPS',
        freq: '144 Гц'
      },
      proc: {
        name: 'Четырехъядерный Intel Core i5-10300H (2.5 - 4.5 ГГц)',
        os: 'Без ОС',
        gen: '10-ое Comet Lake'
      },
      ram: {
        size: '8 ГБ',
        slot: '2',
        type: 'DDR4-2933 МГц'
      },
      connect: {
        lan: 'Wi-Fi 802.11ax <br> Bluetooth 5.1 <br> Gigabit Ethernet',
        inOut: '2 x USB 3.2 Gen1 Type-A / 1 x USB 3.2 Gen2 Type-C (DisplayPort) / 1 x USB 2.0 / HDMI 2.0b / LAN (RJ-45) / комбинированный аудиоразъем для наушников/микрофона',
        wifi: 'Bluetooth 5.1 <br> Wi-Fi 6'
      }
    },
    {
      img: '../img/prod/prod-img5.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      price: 3600,
      salePrice: 3500,
      screen: {
        diag: '15.6" (1920x1080) Full HD',
        type: 'IPS',
        freq: '144 Гц'
      },
      proc: {
        name: 'Четырехъядерный Intel Core i5-10300H (2.5 - 4.5 ГГц)',
        os: 'Без ОС',
        gen: '10-ое Comet Lake'
      },
      ram: {
        size: '8 ГБ',
        slot: '2',
        type: 'DDR4-2933 МГц'
      },
      connect: {
        lan: 'Wi-Fi 802.11ax <br> Bluetooth 5.1 <br> Gigabit Ethernet',
        inOut: '2 x USB 3.2 Gen1 Type-A / 1 x USB 3.2 Gen2 Type-C (DisplayPort) / 1 x USB 2.0 / HDMI 2.0b / LAN (RJ-45) / комбинированный аудиоразъем для наушников/микрофона',
        wifi: 'Bluetooth 5.1 <br> Wi-Fi 6'
      }
    },
    {
      img: '../img/prod/prod-img6.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      price: 3600,
      salePrice: 3500,
      screen: {
        diag: '15.6" (1920x1080) Full HD',
        type: 'IPS',
        freq: '144 Гц'
      },
      proc: {
        name: 'Четырехъядерный Intel Core i5-10300H (2.5 - 4.5 ГГц)',
        os: 'Без ОС',
        gen: '10-ое Comet Lake'
      },
      ram: {
        size: '8 ГБ',
        slot: '2',
        type: 'DDR4-2933 МГц'
      },
      connect: {
        lan: 'Wi-Fi 802.11ax <br> Bluetooth 5.1 <br> Gigabit Ethernet',
        inOut: '2 x USB 3.2 Gen1 Type-A / 1 x USB 3.2 Gen2 Type-C (DisplayPort) / 1 x USB 2.0 / HDMI 2.0b / LAN (RJ-45) / комбинированный аудиоразъем для наушников/микрофона',
        wifi: 'Bluetooth 5.1 <br> Wi-Fi 6'
      }
    },
    {
      img: '../img/prod/prod-img7.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      price: 3600,
      salePrice: 3500,
      screen: {
        diag: '15.6" (1920x1080) Full HD',
        type: 'IPS',
        freq: '144 Гц'
      },
      proc: {
        name: 'Четырехъядерный Intel Core i5-10300H (2.5 - 4.5 ГГц)',
        os: 'Без ОС',
        gen: '10-ое Comet Lake'
      },
      ram: {
        size: '8 ГБ',
        slot: '2',
        type: 'DDR4-2933 МГц'
      },
      connect: {
        lan: 'Wi-Fi 802.11ax <br> Bluetooth 5.1 <br> Gigabit Ethernet',
        inOut: '2 x USB 3.2 Gen1 Type-A / 1 x USB 3.2 Gen2 Type-C (DisplayPort) / 1 x USB 2.0 / HDMI 2.0b / LAN (RJ-45) / комбинированный аудиоразъем для наушников/микрофона',
        wifi: 'Bluetooth 5.1 <br> Wi-Fi 6'
      }
    },
  ]

.compare-table 
  .compare-table-header 
    .row.flex-nowrap
      each item in compare
        .col-8.col-md-4.col-xxl-2
          .row.justify-content-end 
            .col-auto 
              button 
                +svgMono('close')
          .row.justify-content-between 
            .col-auto 
              img(src=item.img, alt=item.name width=55 height=55)
            .col
              div #{item.name}
            .w-100
            .col-auto 
              .product-card-price-container
                if (item.salePrice != null )
                  .product-card-price.default=item.price
                    span грн.
                  .product-card-price.sale=item.salePrice 
                    span грн.
                else 
                  .product-card-price=item.price
                    span грн.
            .col-auto 
              button.btn-ct-primary-fill 
                span КУПИТЬ
            
  .compare-table-content 

    .compare-table-group
      .compare-table-group-title.px-4.py-2 Экран
      .compare-table-group-subtitle.px-4.py-2 Диагональ экрана
      .row.flex-nowrap 
        each item in compare 
          .col-8.col-md-4.col-xxl-2
            .compare-table-group-item.px-3.py-2 #{item.screen.diag}
      .compare-table-group-subtitle.px-4.py-2 Тип экрана
      .row.flex-nowrap 
        each item in compare 
          .col-8.col-md-4.col-xxl-2
            .compare-table-group-item.px-3.py-2 #{item.screen.type} 
      .compare-table-group-subtitle.px-4.py-2 Частота обновления экрана
      .row.flex-nowrap 
        each item in compare 
          .col-8.col-md-4.col-xxl-2
            .compare-table-group-item.px-3.py-2 #{item.screen.freq}
          