-
  var filters = [
    {
      slug: 'lorem',
      text: 'Lorem ipsum',
      count: '123'
    },
    {
      slug: 'dolor',
      text: 'Dolor sit',
      count: '34'
    },
    {
      slug: 'amet',
      text: 'Amet',
      count: '56'
    },
    {
      slug: 'consec',
      text: 'Consectetur adipiscing',
      count: '67'
    }
  ]

.filter
  .filter-current 
    .row.align-items-center.g-2.mb-3
      .col-auto 
        button.filter-dismiss 
          span Фильтр 1
          +svgMono('close')
      .col-auto 
        button.filter-dismiss 
          span Фильтр 2
          +svgMono('close')
      .col-auto 
        button.filter-dismiss 
          span Фильтр 3
          +svgMono('close')
      .col-auto
        button.filter-dismiss-all Очистить фильтры
  if (outClass == 'search-page')
    include ../category/_search-menu
  .filter-price.mb-4
    .filter-price-title.mb-3 По цене
    .row.gx-2.mb-4 
      .col 
        input(type="text").ct-input.filter-price-min
      .col-auto.align-self-center - 
      .col 
        input(type="text").ct-input.filter-price-max
    .filter-price-item

  - for(i=1; i<=4; i++)
    .ct-accordion.open 
      .ct-accordion-title Название фильтра
      .ct-accordion-content 
        each item in filters 
          .filter-checkbox 
            input(type="checkbox" id=item.slug + i)
            label(for=item.slug + i) 
              span=item.text
              | &#32;
              span (#{item.count})
        each item in filters 
          .filter-checkbox 
            input(type="checkbox" id=item.slug + i + i)
            label(for=item.slug + i + i) 
              span #{item.text}
              | &#32;
              span (#{item.count})

  .filter-controls 
    .row.align-items-center
      .col 
        button.btn-ct-secondary-out СБРОСИТЬ
      .col 
        button.btn-ct-secondary-fill ПРИМЕНИТЬ
        