-
  var items = [
    {
      svg: 'menu1',
      text: 'Комплектующие ПК',
      notice: 'NEW',
      inner: [
        {
          text: 'Процессоры',
          notice: 'NEW'
        },
        {
          text: 'SSD накопители',
          notice: 'NEW'
        },
        {
          text: 'Видеокарты',
          notice: 'NEW'
        },
        {
          text: 'Смотреть все',
        }
      ]
    },
    {
      svg: 'menu2',
      text: 'Мониторы',
      notice: 'NEW'
    },
    {
      svg: 'menu3',
      text: 'Компьютеры',
      notice: 'NEW'
    },
    {
      svg: 'menu4',
      text: 'Ноутбуки',
      notice: 'NEW'
    },
    {
      svg: 'menu5',
      text: 'Игровые консоли',
      notice: 'NEW'
    },
    {
      svg: 'menu6',
      text: 'Комплектующие к ноутбукам',
      notice: 'NEW'
    },
    {
      svg: 'menu7',
      text: 'Планшеты',
      notice: 'NEW'
    },
    {
      svg: 'menu8',
      text: 'Принтеры и МФУ',
      notice: 'NEW'
    },
    {
      svg: 'menu9',
      text: 'Акустические колонки',
      notice: 'NEW'
    },
    {
      svg: 'menu10',
      text: 'Сетевое оборудование',
      notice: 'NEW'
    },
    {
      svg: 'heart',
      text: 'Мониторы',
      notice: 'NEW'
    },
    {
      svg: 'heart',
      text: 'Мониторы',
      notice: 'NEW'
    },
    {
      svg: 'heart',
      text: 'Мониторы',
      notice: 'NEW'
    }
  ]

//- .banner-menu-link
nav.banner-menu
  each item in items 
    .banner-menu-item
      a(href="#").banner-menu-link.p-3
        +svgMono(item.svg)
        span=item.text
      .ct-accordion
        button.ct-accordion-title
          +svgMono(item.svg)
          span=item.text
            .notice=item.notice
        .ct-accordion-content
          if (item.inner)
            each el in item.inner 
              a(href="#").py-3.border-bottom
                span(style="margin-left: 40px")=el.text
                  .notice=el.notice
                +svgMono('arrow-right')
  button.js-show-more 
    i.bi.bi-chevron-down